.Abouttcard{

    position: relative;
}

.Aboutinner{
    position: absolute;
    left: 40%;
    top:10%;
    font-size: 70px;
    color: white;
    font-weight: bold;
    

}
.card-hover {
  position: relative;
  color: black;
  z-index: 1;

  overflow: hidden;

}

.card-hover::before {


  content: "";
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: red;
  transition: 0.6s ease;
  z-index: -1;
}

.card-hover:hover::before {
  height: 100%;

}



.card-hover:hover {
  color: white;
}

.cardimagehover {
  overflow: hidden;
  height: 200px;

  margin-top: 20px;
  border-radius: 20px;
}

.cardimagehover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.6s ease;
  /* margin-top: 10px; */
}

.cardimagehover img:hover {
  transform: scale(1.5);
}



.Service.light {
  background-color: white !important;
}

.Service.dark {
  background-color: rgb(0, 0, 0) !important;
  color: white;
}

.Service.dark .card{
  background-color: black;
  color: white;
}

.Service.light .card-hover::before {
  background-color:rgb(209, 17, 17);
}

.Service.dark .card-hover::before {
  background-color: rgb(201, 30, 30); /* dark mode में कोई overlay नहीं */
}



@media (max-width:900px){
.Aboutinner,p{
    font-size: 1.9rem;
    align-items: center;
    justify-content: center;



}



}